<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"
    />
    <link href="/style.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard</title>
  </head>
  <body style="background-color: #435165;">
    <h1 id="success">SUCCESS :D</h1>
    <h4 class="hello_user">Hello <%= user %></h4>
    <h6 class="msg">We are from group Enkanomiya kindly welcome you to our website</h6>
   
    <div style="text-align: center;">
      <div class="pic">
        <a target="_blank" href="/profile2.jpeg"><img src="/profile2.jpeg"/></a>
        <div class="desc">George Richard 1961012</div>
      </div>
      
      <div class="pic">
        <a target="_blank" href="/profile.png"><img src="/profile.png"/></a>
        <div class="desc">Monica Sucianto 1961016</div>
      </div>
    </div>


    <div  style="text-align: center; "><a class="logout"  href="/users/logout">Logout</a></div>
  </body>
</html>