* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}
body {
    
    /* background-color: #435165; */
    background-image: url(bg.jpg);
    object-fit:scale-down;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-y:hidden; 
}

#success{
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    font-size: 60px;
    margin-top: 10px;
}

#error_msg {
    text-align: center;
    color: #eb4034;
}

#group_name {
    color: #ffffff;
    text-align: center;
    font-style: italic;
    font-size: 46px;
    padding: 20px 0 20px 0;
}

#login_text{
    color: #196f8b;
    font-size: 28px;
}

.login {
    width: 400px;
    background-color: #ffffff;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: auto;
    margin-top: 60px;
}
.login h1 {
    text-align: center;
    color: #5b6574;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}
.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}
.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input[type="password"], .login form input[type="text"] {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}
.login form input[type="submit"] {
    background-color: #196f8b;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
  background-color: #177c9e;
    transition: background-color 0.2s;
}

.hello_user{
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-size: 24px;
}

.msg{
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

a.logout{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;

    background-color: #285e70;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    margin-top: 30px;
}

a.logout:hover{
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    border-radius: 25px;
    background-color: #196c87;
    transition: background-color 0.2s;
}


div.pic {
    margin: 5px 10px 5px 10px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 180px;
    background:rgba(0,0,0,.3);
  }
  
  div.pic:hover {
    border: 1px solid #777;
    transform: scale(1.1);
  }
  
  div.pic img {
    width: 100%;
    height: auto;
    transition: transform.2s;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
    color:#c0c0c0;
    font-family: optima;
  }